.url {
  font-size: 1.5em !important;
  color: blueviolet;
  cursor: pointer;
}
.url:hover {
  color: yellowgreen !important;
}
a:hover {
  text-decoration: none;
}
.about-img {
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 10%;
  padding-bottom: 1em;
}
.sec-1 li {
  margin-top: 8%;
}

.abt-header {
  font-size: 2.5em;
}

@media screen and (max-width: 1000px) {
  .url {
    font-size: 1rem !important;
    color: blueviolet;
    cursor: pointer;
  }
  h3 {
    font-size: 1rem !important;
  }
  .header {
    font-size: 2rem !important;
  }
  .abt-header {
    font-size: 2em;
  }
}
