.url {
  font-size: 1.5em !important;
  color: rgb(205 216 229) !important;
  cursor: pointer;
}
.url:hover {
  color: yellowgreen !important;
}
a:hover {
  text-decoration: none;
}
label {
  font-weight: 600 !important;
}
.contact-item {
  justify-content: center;
  margin-left: 2em;
  margin-top: 3em;
}
@media screen and (max-width: 1000px) {
  .url {
    font-size: 1rem !important;
    color: rgb(205 216 229) !important;
    cursor: pointer;
  }
  h3 {
    font-size: 1rem !important;
  }
  .header {
    font-size: 2rem !important;
  }

  .contact-item {
    justify-content: center;
    margin-left: 2em;
    margin-top: 1em;
  }
  .sec-2 {
    padding-top: 2em !important;
  }
}
